body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    /*This makes the box sizing on all elements on the page expand to include their padding*/
    box-sizing: border-box;
}